@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Titillium+Web:wght@200&display=swap');
@import "aos/src/sass/aos.scss";
@import "@fortawesome/fontawesome-free/css/fontawesome.css";
@import "@fortawesome/fontawesome-free/css/solid.css";
// Custom styles
// [aria-current="page"] {
//   @extend .text-decoration-underline;
// }
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}